.footer {
    width: 100%;
    height: 200px;
    background: #263d75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    /* margin-top: 50px; */
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }

  .socialMedia svg:hover{
    color: #141a28;
    font-size: 68px;
    transition: 0.3s;
  }
  
  .footer p {
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }